body {
    font-size: 14px;
    color: rgba(45, 52, 54,1.0);
    letter-spacing: 1px;
    background: rgba(236, 240, 241,1.0);
}

.overlay {
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 3;
    background-color: rgba(0, 0, 0, 0.4);
}

.slides-navigation {
    z-index: 6;
}

.slides-navigation .prev,
.slides-navigation .next {
    width: 47px;
    height: 47px;
    background-size: cover;
    background-repeat: no-repeat;
}

.slides-navigation a.prev {
    left: 20px;
    background-image: url("../icons/prev.png");
}

.slides-navigation a.next {
    right: 20px;
    background-image: url("../icons/next.png");

}

.titleMessage {
    position: absolute;
    width: 100%;
    height: 250px;
    top: 50%;
    z-index: 5;
    text-align: center;
    margin-top: -125px;
}

.titleMessage .heading p {
    color: #fff;
    text-shadow: 0px 3px 5px rgba(0, 0, 0, 0.4);
    font-weight: 100;
    letter-spacing: 8px;
}

.titleMessage .heading .main {
    font-size: 55px;
}

.titleMessage .heading .sub {
    font-size: 26px;
}

.section {
    padding: 100px 0;

}

.aboutImage {
    max-width: 68%;
    border-radius: 10px;
    box-shadow: 0px 0 60px 10px rgba(0,0,0,0.5);
}

.aboutImage:hover {
    box-shadow: 0px 0 60px 10px #007bff;
}

#inEnglish-tab img {
    width: 20px;
}

#inRussian-tab img {
    width: 20px;
}

.skillsSection {
    background: rgba(44, 62, 80,1.0);
    color: rgba(236, 240, 241,1.0);
}

.skill {
    margin-left: 5px;
    text-align: center;
}

/* Кнопка наверх */
#back-top{
    position:fixed;
    bottom:10px;
    left: 20px;
}

#back-top a{
    display:block;
    text-transform:uppercase;
    text-decoration:none;
    background-color: transparent;
    -webkit-transition:1s;
    -moz-transition:1s;
    transition:1s;
}
#back-top a:hover span{background-color: rgba(0, 0, 0, 0.3);}

#back-top i {
    font-size: 64px;
    width: 85px;
    height: 83px;
    color: #fff;

    border-radius: 50px;
}

#back-top .backTop {
    background: transparent;
    border: none;
    outline: none;
}

#back-top .backTop i:hover {
    color: #0078ff;
    cursor: pointer;
}

.chart {
    position: relative;
    width: 155px;
    height: 155px;
    text-align: center;
    display: inline-block;
    margin: 10px 0;
}

.chart canvas {
    position: absolute;
    left: 0;
    right: 0;

}

.chart .percent {
    color: #64adff;
    display: inline-block;
    font-size: 28px;
    line-height: 155px;
}

.chart .percent::after {
    content: '%';
}

.squareItem {
    margin: 40px;
    position: relative;
}

.squreInnerContainer {
    position: relative;
    padding: 50px 15px 35px;
    text-align: center;
    border: 4px solid darkgray;
    border-top: none;
}

.squreInnerContainer:before, 
.squreInnerContainer:after {
    content: '';
    position: absolute;
    top: 0px;
    width: 34%;
    border: 2px solid darkgray;
}

.squreInnerContainer:before {
    right: 0px;
}

.squreInnerContainer:after {
    left: 0px;
}

.squareContent h2 {
    font-size: 58px;
    margin-bottom: 10px;
    font-weight: 500;
    color: #62acff;
}

.squareContent h3 {
    font-size: 15px;
    font-weight: bolder;
    margin: 0;
}